[flake8]
max_line_length = 80

# Note: W504 (line break after binary operator) is ignored because it started
# to be issued around 10/2018 for situations that are perfectly ok.
ignore = W504

exclude =
    .git,
    .tox,
    __pycache__,
    *.pyc,
    docs/conf.py,
    docs/gen,
    build_doc,
    build,
    dist,
