.DS_Store
*.pyc
*.pyo
*.egg
*.egg-info
*.done
*.log
*.retry
*.tmp
vars.yml
vault.yml
/try/
try_*
/tmp/
tmp_*
/.coverage
/.pytest_cache/
/venv/
/htmlcov/
/dist/
/docs_linkcheck/
/docs_build/
/tests/output/
/AUTHORS
/ChangeLog
/changelogs/.plugin-cache.yaml
/build/
/gh-pages/
/docs_local
