.DS_Store
*.pyc
*.pyo
/env
env*
/venv
/doc_check/
/build/
/htmlcov/
.coverage
/AUTHORS
/ChangeLog
*.egg
*.egg-info
/_mailinglist
/.tox
/.cache
/.idea
/.vagrant
/.pytest_cache
/try
try_*
/tmp
tmp_*
*.tmp
*.log
*.retry
*.done
/dist/
/docs_linkcheck/
vars.yml
vault.yml
/python-zhmcclient
