.DS_Store
*.pyc
*.pyo
/env
env*
/venv
/docs/gen/
/build/
/htmlcov/
.coverage
*.egg
*.egg-info
/_mailinglist
/.tox
/.cache
/.idea
/.vagrant
/try
/tmp
tmp_*
*.tmp
*.log
*.retry
vars.yml
vault.yml
/python-zhmcclient
