# git mailmap file for consolidating git commit names and email addresses
# For details, see: https://git-scm.com/docs/git-check-mailmap
#
# Format for replacing name and email based upon commit email:
#    Proper Name <proper@email.xx> <commit@email.xx>
#
Abhiram Santhosh <abhiram.santhosh1@ibm.com> <abhiram.santhosh1@ibm.com>
Abhiram Santhosh <abhiram.santhosh1@ibm.com> <128020314+abhirams-1@users.noreply.github.com>
Andreas Maier <maiera@de.ibm.com> <andreas.r.maier@gmx.de>
Andreas Maier <maiera@de.ibm.com> <andy-maier@users.noreply.github.com>
Andreas Maier <maiera@de.ibm.com> <maiera@de.ibm.com>
Andreas Maier <maiera@de.ibm.com> <MAIERA@de.ibm.com>
Juergen Leopold <leopoldj@de.ibm.com> <leopoldj@de.ibm.com>
Juergen Leopold <leopoldj@de.ibm.com> <LEOPOLDJ@de.ibm.com>
Demetrios Dimatos <ddimatos@us.ibm.com> <dimatos@gmail.com>
