# Pip requirements file for Ansible zhmc modules runtime dependencies.
#
# The order of packages is significant, because pip processes them in the order
# of appearance. Changing the order has an impact on the overall integration
# process, which may cause wedges in the gate later.

# Make sure that the package versions in minimum-constraints.txt are also
# the minimum versions required in requirements.txt and dev-requirements.txt.


# Direct dependencies (except pip, setuptools, wheel):

ansible>=2.2.0.0 # GPLv3 + BSD
# Note: The zhmc-ansible-modules only use ansible/module_utils/basic.py
# of the ansible package, which is BSD licensed.
pbr>=1.10.0 # Apache-2.0
requests>=2.12.4,!=2.17.1,!=2.17.2 # Apache-2.0 (requests.packages.urllib3 and from zhmcclient)
zhmcclient>=0.15.0 # Apache-2.0


# Indirect dependencies (commented out, only listed to document their license):

# asn1crypto # MIT, from cryptography -> paramiko -> ansible
# bcrypt # Apache 2.0, from paramiko -> ansible
# certifi # ISC, from requests>=2.16
# cffi # MIT, from cryptography -> paramiko -> ansible
# chardet # LGPL, from requests>=2.16
# click # BSD, from zhmcclient
# click-repl # MIT, from zhmcclient
# click-spinner # MIT, from zhmcclient
# cryptography # BSD, from paramiko -> ansible
# decorator # new BSD, from zhmcclient
# enum34 # BSD, from cryptography -> paramiko -> ansible
# idna # BSD, from requests>=2.16
# ipaddress # PSF, from cryptography -> paramiko -> ansible
# Jinja2 # BSD, from ansible
# MarkupSafe # BSD, from Jinja2 -> ansible
# paramiko # LGPL, from ansible
# progressbar2 # BSD, from zhmcclient
# prompt_toolkit # BSD, from click-repl -> zhmcclient
# pyasn1 # BSD, from paramiko -> ansible
# pycparser # BSD, from cffi -> cryptography -> paramiko -> ansible
# pycrypto # Public domain, from ansible
# PyNaCl # Apache 2.0, from paramiko -> ansible
# python-utils # BSD, from progressbar2 -> zhmcclient
# PyYAML # MIT, from ansible and zhmcclient
# six # MIT, from zhmcclient and others
# stomp.py # Apache, from zhmcclient
# tabulate # MIT, from zhmcclient
# urllib3 # MIT, from requests>=2.16
# wcwidth # MIT, from prompt_toolkit -> zhmcclient
