# Pip requirements file for install dependencies of the ibm.ibm_zhmc Ansible collection.

# Note: This file is included in the Ansible collection package, and its packages
# need to be installed by the user of this Ansible collection.


# Direct dependencies for install, except ansible/ansible-core (must be consistent with minimum-constraints-install.txt)

# Note: The dependencies to ansible and ansible-core are actually install dependencies, but since Ansible EE does not
# expect dependencies to ansible or ansible-core in the package's requirements file, they have been moved to a separate
# requirements file requirements-ansible.txt that is not part of the Ansible collection package.

# zhmcclient @ git+https://github.com/zhmcclient/python-zhmcclient.git@master
zhmcclient>=1.24.0


# Indirect dependencies for install that are needed for some reason (must be consistent with minimum-constraints-install.txt)

# ansible-core 2.15.13 requires Jinja2>=3.0.0.
# In order to address vulnerabilities, we require a higher version.
Jinja2>=3.1.6

# ansible-core 2.15.13 requires any version of cryptography.
# In order to address vulnerabilities, we require a higher version.
cryptography>=46.0.5

# ansible-core 2.15.13 requires any version of packaging.
# In order to address issue https://github.com/pypa/setuptools/issues/4483 when installing sphinx-versions,
# we require a version >=22.0.
packaging>=22.0

# ansible-core 2.15.13 requires PyYAML>=5.1.
# In order to address issue https://github.com/yaml/pyyaml/issues/724 (PyYAML 5.4 and 6.0.0 fails install since Cython 3
# was released), we require a version >=6.0.1.
# In order to address vulnerabilities, we require a higher version.
# PyYAML 6.0 has wheel archives for Python 3.6 - 3.11.
PyYAML>=6.0.2
