# Pip requirements file for installation of the project.
#
# The order of packages is significant, because pip processes them in the order
# of appearance.
#
# Make sure that the minimum versions required in this file are consistent with
# the minimum versions specified in minimum-constraints.txt.


# Direct dependencies (except pip, setuptools, wheel):

ansible>=2.9.0.0
requests>=2.20.1
# git+https://github.com/zhmcclient/python-zhmcclient@master#egg=zhmcclient
zhmcclient>=0.31.0


# Indirect dependencies are not specified in this file, unless needed to solve versioning issues:

# cryptography 3.1 has deprecated Python 3.5 support and issues a deprecation
# warning that causes ansible-test to fail
# cryptography 3.2 addresses a dependabot security issue
cryptography>=3.0,<3.1; python_version <= '3.5'
cryptography>=3.2; python_version >= '3.6'
packaging>=20.0
# PyYAML 5.3 has removed support for Python 3.4
PyYAML>=5.1; python_version == '2.7'
PyYAML>=5.1,<5.3; python_version == '3.4'
PyYAML>=5.1; python_version > '3.4'
